# .DS_Store
.DS_Store
**/DS_Store
*.o
.idea
.vscode

# svtrek
svtrek

# locally cloned/built htslib (created by `make` when no system htslib is found)
deps/htslib/

misc/sim_out
misc/slurm.*

data/*.fasta
data/*.fai
